<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZCluUbEDY4E6_fvk7zDY_FH65i2Y78aI</string>
	<key>GCM_SENDER_ID</key>
	<string>360265573932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sltsampleapp2</string>
	<key>PROJECT_ID</key>
	<string>sltsampleapp</string>
	<key>STORAGE_BUCKET</key>
	<string>sltsampleapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360265573932:ios:6223eee4aebdc52024d389</string>
</dict>
</plist>